@import "fonts";
@import "@/../node_modules/@radial-color-picker/vue-color-picker/dist/vue-color-picker.min.css";
@import "mixins.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // overflow-x: hidden;
  font-family: "Roboto";
  button {
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
  }
}
* a {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 14px;
  height: 8px;
  background-color: rgba(28, 40, 62, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(74, 92, 125, 0.2);
}

body {
  background-color: rgb(35, 39, 58);
}
.editor {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 20px;
  font-family: "Roboto";
  position: relative;

  .textField {
    padding: 30px;
    resize: none;
    width: 95%;
    min-height: 80vh;
    border: none;
    outline: none;
    border-radius: 10px;
    display: block;
    font-size: 32px;
    color: white;
    line-height: normal;
  }


  &__save {
    border-radius: 50%;
    position: absolute;
    bottom: 20px;
    right: 40px;
    img {
      transform: translateY(1px);
    }
  }
}
.custom-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.568);
  &.show {
    display: flex;
  }
  & > button {
    position: absolute;
    background: none;
    border: none;
    right: 10px;
    top: 5px;
    transition: 0.2s;
    &:hover {
      background: rgba(120, 123, 139, 0.15);
    }
  }
  .colorPicker {
    width: 50%;
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: rgb(120, 123, 139);
    .track-filled {
      background-color: #6a4dc3;
    }
    &__option {
      display: flex;
      gap: 20px;
    }
    #setColor-btn {
      font-size: 20px;
      font-weight: 500;
      width: 120px;
      height: 70px;
      background: none;
      transition: 0.2s;
      color: rgb(120, 123, 139);
      border: none;
      &:hover {
        background-color: #6a4dc3;
        color: white;
      }
    }
  }
}

.color-window {
  width: 300px;
  height: 50px;
  position: absolute;
  z-index: 5;
  background-color: rgba(20, 22, 36, 0.733);
  @include centerFlex;
  gap: 10px;
  display: none;
  top: 10px;
  left: 10px;
  &.show {
    display: flex;
  }
  button {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: palevioletred;
    &:last-of-type {
      background-color: transparent;
      color: rgb(120, 123, 139);
      width: 23%;
      border-radius: 0;
      border: none;
      border-left: 2px solid rgba(49 54 74 / 56);
    }
  }
}



